@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2a3038;

  /* Sogang colors */
  --sogang-100: #fdf0f0;
  --sogang-700: #e84336;
  --sogang-800: #ca1d13;
  --sogang-900: #921708;

  /* Gray scale */
  --gray-00: #ffffff;
  --gray-100: #f7f8f9;
  --gray-200: #f3f4f5;
  --gray-300: #eeeff1;
  --gray-400: #dcdee3;
  --gray-500: #d1d3d8;
  --gray-600: #b0b3ba;
  --gray-700: #868b94;
  --gray-800: #555d6d;
  --gray-900: #2a3038;
  --gray-1000: #1a1c20;
}

@theme {
  /* Sogang colors */
  --color-sogang-100: #fdf0f0;
  --color-sogang-700: #e84336;
  --color-sogang-800: #ca1d13;
  --color-sogang-900: #921708;

  /* Gray scale */
  --color-gray-00: #ffffff;
  --color-gray-100: #f7f8f9;
  --color-gray-200: #f3f4f5;
  --color-gray-300: #eeeff1;
  --color-gray-400: #dcdee3;
  --color-gray-500: #d1d3d8;
  --color-gray-600: #b0b3ba;
  --color-gray-700: #868b94;
  --color-gray-800: #555d6d;
  --color-gray-900: #2a3038;
  --color-gray-1000: #1a1c20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1c20;
    --foreground: #f7f8f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
